body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF; /
    color: white; /* White text */
    margin: 0;
    padding: 0;
}

.container {
    width: 60%;
    margin: auto;
    background: #4169E1; /* Blue background */
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: white; /* White text */
}

p {
    line-height: 1.6;
    color: white; /* White text */
}

.app-name, .company-name, .jurisdiction, .contact-info {
    font-weight: bold;
    color: white; /* White text */
}

.approve-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background: white;
    color: #007bff;
    border: none;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
}

.approve-btn:hover {
    background: #4169E1;
    color: white;
}